<!DOCTYPE html>
<html lang="ja">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>スコア管理</title>

</head>

<body>
	<class="container">
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<h1>スコア入力</h1>
		<form th:action="@{/score/create}" th:object="${scoreRequest}" method="post">
			<label for="name">名前：</label>
			<input type="text" th:field="*{name}" required>
			<label for="math_score">数学のスコア：</label>
			<input type="number" th:field="*{math_score}" required>
			<label for="english_score">英語のスコア：</label>
			<input type="number" th:field="*{english_score}" required>
			<input type="submit" value="　登録　" class="btn btn-primary">
			<div class="back-button">
				<a href="http://localhost:8080/score/list/">スコア一覧</a>
			</div>

		</form>

		</class>

</body>

</html>