<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '果物情報一覧', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>果物情報一覧</h1>
    <div class="float-end">
      <a th:href="@{/fruits/add}" class="btn btn-primary">新規登録はこちら</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>果物</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="fruits : ${fruitslist}" th:object="${fruits}" class="align-middle">
          <td th:text="*{id}"></td>
          <td th:text="*{fruits}"></td>
          <td><a th:href="@{/fruits/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>