body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #0077B6;
    font-size: 24px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

.back-button {
    margin-top: 20px;
    text-align: center;
}



.back-button a:hover {
    text-decoration: underline;
}
