.wrapper {
    width: 400px;
    height: 450px;
}

.header {
    height: 100px;
    background-color: #141f40;
    width: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.side {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.content {
    width: 250px;
    height: 250px;
    float: right;
}

.content-top {
    height: 150px;
    width: 250px;
}
.content-top-right{
    float: right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}

.content-top-left {
    height: 150px;
    width: 150px;
}

.green {
    background-color: #dbd400;
    height: 50px;
}

.blue {
    background-color: #0093b7;
    height: 100px;
}

.content-bottom {
    background-color: #8c2727;
    height: 100px;
}

.footer {
    background-color: #d98d30;
    height: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


@media screen and (max-width: 767px) {
    .wrapper {
        width: 300px;
    }

    .header {
        width: 300px;
    }
    .side {
        width: 100px;

    }

    .content {
        width: 200px;
    }
    
    .content-top-right {
        width: 75px;
        margin-right: 50px;
    }

    .content-top-left {
        width: 125px;
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
        height: 650px;
    }

    .header {
        width: 150px;
    }

    .side {
        height: 100px;
        width: 150px;
    }

    .content {
        width: 150px;
        height: 350px;
    }
    .content-top-right {
        width: 150px;
        height: 100px;
        float:none
    }

    .content-top-left {
        width: 150px;
    }

    .content-bottom {
        margin-top: 100px;
    }

    

}
