<!DOCTYPE html>
<html lang="ja">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>詳細画面</title>
</head>

<body>
  <div class="container">
    <h1>スコア情報詳細</h1>
    <div th:object="${scoreData}">
		<input type="hidden" th:field="*{id}" />
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">名前：</div>
        <div class="col pt-3 border">
          <p th:text="*{name}"></p>
          
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">数学のスコア：</div>
        <div class="col pt-3 border">
          <p th:text="*{math_score}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">英語のスコア：</div>
        <div class="col pt-3 border">
          <p th:text="*{english_score}"></p>
        </div>
      </div>
    </div>
    <br />
    <div class="text-center">
      <a th:href="@{/score/{id}/edit(id=*{id})}" class="btn btn-primary">　編集　</a>
      <a href="/score/list" class="btn btn-secondary">一覧に戻る</a>
    </div>
  </div>
</body>
</html>